<template>
  <div class="container mx-auto">
    <div class="flex flex-row content-center items-center min-h-screen h-full w-full">
      <div class="flex-1 mx-auto text-center">
        <h1 class="text-5xl md:text-8xl font-bold">
          The Gallery
        </h1>
        <input
          type="text"
          class="search_bar"
          :class="notFound ? '!bg-red-200 !dark:bg-red-900' : ''"
          placeholder="Search for movies!"
          v-model="searchBar"
        >
        <div
          class="grid grid-flow-row grid-cols-3 gap-2 w-full md:max-w-3/5 mx-auto pt-4"
          v-show="searchResults.length > 0"
        >
          <div
            v-for="item in searchResults"
            :key="item.id"
            class="search_item"
            @click="$router.push({ path: `/movies/${item.id}`})"
          >
            {{ item.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import type {Movie} from '../types/movies';

export default defineComponent({
	data() {
		return {
			searchBar: '',
			searchResults: [] as Movie[],
			notFound: false,
		};
	},
	watch: {
		searchBar(value) {
			this.searchResults = this.$store.getters.searchByTitle(value).slice(0, 9);
			if (this.searchResults.length === 0 && this.searchBar) {
				this.notFound = true;
			} else {
				this.notFound = false;
			}
		},
	},
	/**
   * Why put this on the mounted hooks instead of the created hooks?
   *
   * Well, the movie list data isn't used here. So I thought instead of let
   * the request blocks the page load, I'll just let it be after the page load.
   */
	async mounted() {
		try {
			/**
       * What this line of code does?
       *
       * It will check if the movies value on the Vuex (the state management)
       * is more than one or not.
       *
       * If it is, it would do nothing. If it's not, it will fetch the movies.
       */
			if (!this.$store.getters.checkMovies) {
				await this.$store.dispatch('fetchMovies');
			}
		} catch (error) {
			console.error(error);
		}
	},
});
</script>

<style scoped lang="sass">
.search_bar
  @apply my-2 px-4 py-3 rounded-lg bg-light-600 text-black focus:bg-light-700
  @apply dark:(bg-dark-400 focus:bg-dark-100 text-white)
  @apply transition duration-300 ease-in-out
  @apply lg:w-1/5 md:w-2/5 sm:w-3/5 w-4/5

.search_item
  @apply transition-all duration-300 ease-in-out
  @apply hover:(bg-light-700 dark:(bg-dark-200))
  @apply px-4 py-2 cursor-pointer bg-light-400 rounded-lg
  @apply dark:(bg-dark-600)
</style>
