<template>
  <svg
    v-if="n === 'heart'"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16 16"
    :width="w"
    :height="h"
  ><path
    fill="currentColor"
    fill-rule="evenodd"
    d="M4.25 2.5c-1.336 0-2.75 1.164-2.75 3 0 2.15 1.58 4.144 3.365 5.682A20.565 20.565 0 008 13.393a20.561 20.561 0 003.135-2.211C12.92 9.644 14.5 7.65 14.5 5.5c0-1.836-1.414-3-2.75-3-1.373 0-2.609.986-3.029 2.456a.75.75 0 01-1.442 0C6.859 3.486 5.623 2.5 4.25 2.5zM8 14.25l-.345.666-.002-.001-.006-.003-.018-.01a7.643 7.643 0 01-.31-.17 22.075 22.075 0 01-3.434-2.414C2.045 10.731 0 8.35 0 5.5 0 2.836 2.086 1 4.25 1 5.797 1 7.153 1.802 8 3.02 8.847 1.802 10.203 1 11.75 1 13.914 1 16 2.836 16 5.5c0 2.85-2.045 5.231-3.885 6.818a22.08 22.08 0 01-3.744 2.584l-.018.01-.006.003h-.002L8 14.25zm0 0l.345.666a.752.752 0 01-.69 0L8 14.25z"
  /></svg>
  <svg
    v-else-if="n === 'arrow-up'"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16 16"
    :width="w"
    :height="h"
  ><path
    fill="currentColor"
    fill-rule="evenodd"
    d="M3.47 7.78a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 0l4.25 4.25a.75.75 0 01-1.06 1.06L9 4.81v7.44a.75.75 0 01-1.5 0V4.81L4.53 7.78a.75.75 0 01-1.06 0z"
  /></svg>
  <svg
    v-else-if="n === 'home'"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16 16"
    :width="w"
    :height="h"
  ><path
    fill="currentColor"
    fill-rule="evenodd"
    d="M8.156 1.835a.25.25 0 00-.312 0l-5.25 4.2a.25.25 0 00-.094.196v7.019c0 .138.112.25.25.25H5.5V8.25a.75.75 0 01.75-.75h3.5a.75.75 0 01.75.75v5.25h2.75a.25.25 0 00.25-.25V6.23a.25.25 0 00-.094-.195l-5.25-4.2zM6.906.664a1.75 1.75 0 012.187 0l5.25 4.2c.415.332.657.835.657 1.367v7.019A1.75 1.75 0 0113.25 15h-3.5a.75.75 0 01-.75-.75V9H7v5.25a.75.75 0 01-.75.75h-3.5A1.75 1.75 0 011 13.25V6.23c0-.531.242-1.034.657-1.366l5.25-4.2h-.001z"
  /></svg>
</template>

<script lang="ts">
import {defineComponent} from '@vue/runtime-core';

export default defineComponent({
	props: {
		// I originally wanted "name" as the prop key,
		// but ESLint forbids that, so yeah.
		// Sorry about this.
		n: {
			type: String,
			required: true,
			default: '',
		},
		// "w" stands for width.
		w: {
			type: String,
			required: false,
			default: '16',
		},
		// "h" stands for height.
		h: {
			type: String,
			required: false,
			default: '16',
		},
	},
});
</script>
