<template>
  <div class="md:px-4 py-3 rounded-lg opacity-80 hover:opacity-100 transition duration-300 ease-in-out">
    <img
      :src="image.startsWith('http://') ? image.replace('http://', 'https://') : image"
      loading="lazy"
      :alt="title"
      class="w-full h-auto max-w-md rounded bg-gray-500 cover hover:cursor-pointer"
      @click="$router.push({path: `/movies/${id}`})"
    >
    <h2
      class="text-xl font-bold uppercase pt-2 hover:cursor-pointer"
      @click="$router.push({path: `/movies/${id}`})"
    >
      {{ title }}
    </h2>
    <p class="opacity-80">
      {{ parsedShowTime }}
    </p>
    <p class="pt-4">
      <Icons
        n="heart"
        class="inline-block mr-1"
      /> {{ parsedLikes }} likes
    </p>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {Temporal} from '../utils/date';
import Icons from './Icons.vue';

export default defineComponent({
	computed: {
		parsedShowTime() {
			const temporal = new Temporal(new Date(this.showTime));
			return temporal.formatDate('en-US', 'Asia/Jakarta', false, true);
		},
		parsedLikes() {
			const likes = String(this.like);
			if (likes.length >= 4) {
				return likes.slice(0, likes.length - 3) + 'k';
			}

			return likes;
		},
	},
	props: {
		id: {
			type: String,
			required: true,
			default: '',
		},
		showTime: {
			type: String,
			required: true,
			default: '',
		},
		title: {
			type: String,
			required: true,
			default: '',
		},
		image: {
			type: String,
			required: true,
			default: '',
		},
		like: {
			type: Number,
			required: false,
			default: 0,
		},
	},
	components: {Icons},
});
</script>
