<template>
  <nav class="container mx-auto w-full h-16 px-4 md:px-24 py-4 flex flex-row content-center items-center content-between">
    <div class="flex-1 md:flex-5">
      <Icons
        n="home"
        w="24"
        h="24"
        class="hover:cursor-pointer"
        @click="$router.push({ path: '/' })"
      />
    </div>
    <div class="flex-1">
      <p
        class="font-bold hover:cursor-pointer"
        @click="$router.push({path: '/movies'})"
      >
        Movies
      </p>
    </div>
    <div class="hidden md:block md:flex-1">
      <p class="font-bold hover:(cursor-pointer no-underline)">
        <a
          href="https://gitlab.com/aldy505/crispy-broccoli"
          target="_blank"
        >Repository</a>
      </p>
    </div>
  </nav>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import Icons from './Icons.vue';

export default defineComponent({
	components: {Icons},
});
</script>
