<template>
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row content-center items-center px-4 md:px-24 py-4">
      <div
        v-show="notFound"
        class="flex-1"
      >
        <h1 class="text-center text-3xl md:text-5xl font-bold md:pt-10">
          Uh oh, this is bad.<br>
          We can't find that movie.
        </h1>
      </div>
      <div
        v-show="!notFound"
        class="flex-1"
      >
        <img
          :src="movie.image.startsWith('http://') ? movie.image.replace('http://', 'https://') : movie.image"
          :alt="movie.title"
          loading="lazy"
          class="w-full h-auto max-w-md rounded bg-gray-500 cover"
        >
      </div>
      <div
        v-show="!notFound"
        class="flex-1"
      >
        <h1 class="text-3xl font-bold py-4">
          {{ movie.title }}
        </h1>
        <p class="py-2">
          Showtime at {{ parsedShowTime }}
        </p>
        <p class="py-2">
          <Icons
            n="heart"
            class="inline-block mr-1"
          /> {{ parsedLikes }} likes
        </p>
        <p
          class="pt-8 hover:cursor-pointer"
          @click="$router.back()"
        >
          <Icons
            n="arrow-up"
            h="24"
            w="24"
            class="inline-block text-right"
          /> Go back
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import Icons from '../../components/Icons.vue';
import {Temporal} from '../../utils/date';
import type {Movie} from '../../types/movies';

export default defineComponent({
	data() {
		return {
			movie: {
				id: '',
				title: '',
				showTime: '',
				image: '',
				like: 0,
			} as Movie,
			notFound: false,
		};
	},
	computed: {
		parsedShowTime(): string {
			if (this.notFound) {
				return '';
			}

			// A bit of a fun fact about the Temporal class.
			// There's a Telegram bot project that me and my friends have been working with,
			// and I originally use Day.js just for parse date and doing calculation with the date.
			// So, stuffs like add a few hours to a date, check if a date is after a certain date.
			// Apparently, Day.js is using local time, but I need it to be in UTC.
			// So, I kind of rewrite the functionality of Day.js and name it Temporal.
			// Another fun fact: I named it Temporal after the Javascript Temporal proposal:
			// https://tc39.es/proposal-temporal/
			const temporal = new Temporal(new Date(this.movie.showTime));
			return temporal.formatDate('en-US', 'Asia/Jakarta', false, true);
		},
		parsedLikes(): string {
			if (this.notFound) {
				return '';
			}

			// eslint-disable-next-line prefer-destructuring
			const like = this.movie.like;
			const likes = String(like);
			if (likes.length >= 4) {
				return likes.slice(0, likes.length - 3) + 'k';
			}

			// Return likes;
			return likes;
		},
	},
	async created() {
		try {
			// To fail-fast if the incoming input is not a type of number.
			// (Or can't be converted to number).
			if (Number.isNaN(Number(this.$route.params.id))) {
				this.notFound = true;
				return;
			}

			// Like the index.vue on the top of pages/ directory, this checks
			// whether or not the movie data was fetched or not.
			if (!this.$store.getters.checkMovies) {
				await this.$store.dispatch('fetchMovies');
			}

			const movie = this.$store.getters.getMovieById(this.$route.params.id) as Movie;
			if (movie && Object.keys(movie).length > 0) {
				this.movie = movie;
				return;
			}

			this.notFound = true;
		} catch (error) {
			console.error(error);
		}
	},
	components: {Icons},
});
</script>
