<template>
  <div class="container mx-auto">
    <div class="w-full px-4 md:px-24 py-4 flex flex-col lg:flex-row content-center items-center">
      <div class="flex-1 lg:flex-5 lg:pr-4 w-full">
        <input
          type="text"
          class="search_bar"
          placeholder="Search for movies!"
          v-model="input.searchBar"
        >
      </div>
      <div class="flex-1">
        <div class="flex flex-col md:flex-row content-center items-center w-full">
          <div class="py-2 flex-initial px-2">
            Filter:
          </div>
          <div class="py-2 flex-2 px-2">
            <input
              class="date_input"
              type="date"
              v-model="input.startingDate"
            >
          </div>
          <div class="py-2 flex-2 px-2">
            <input
              class="date_input"
              type="date"
              v-model="input.endingDate"
            >
          </div>
        </div>
      </div>
    </div>
    <div class="w-full pt-4 px-4 md:px-24">
      <div class="grid grid-flow-row gap-6 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
        <MovieItem
          v-for="movie in movies"
          :key="movie.id"
          :id="movie.id"
          :show-time="movie.showTime"
          :image="movie.image"
          :title="movie.title"
          :like="movie.like"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import MovieItem from '../../components/Movie.vue';
import type {Movie} from '../../types/movies';

export default defineComponent({
	data() {
		return {
			input: {
				searchBar: '',
				startingDate: null,
				endingDate: null,
			},
		};
	},
	watch: {
		input: {
			handler(value) {
				if (!value.startingDate && !value.endingDate) {
					this.movies = this.$store.getters.searchByTitle(value.searchBar) as Movie[];
					return;
				}

				const byTitle = this.$store.getters.searchByTitle(value.searchBar) as Movie[];
				const byDate = this.$store.getters.getMovieByDate(new Date(value.startingDate), new Date(value.endingDate)) as Movie[];

				// Coding in Golang for some times has made me be like this.
				// My variable name seems shorter than ever, hahaha!
				//
				// But I can assure you, if I were faced with more complicated function
				// or logic, I won't name my variable like this.
				// Descriptive variables would be the best for any situation.
				// Learned that the hard way.
				const out: Movie[] = [];
				// Find union between those two (byTitle and byDate).
				// The logic is simple actually, I don't want to play around with
				// any of Javascript's syntactic sugar, so I made this simple for loop.
				//
				// We first check who has the longest array length.
				// Oh if byTitle has the longest one, we'd compare byDate againts byTitle.
				// All data (if not) on the byDate should be available on byTitle.
				// If it is, push to the out array.
				// Then do the opposite of that if byDate is the longest one.
				if (byTitle.length > byDate.length) {
					for (let i = 0; i < byTitle.length; i++) {
						if (byDate.includes(byTitle[i])) {
							out.push(byTitle[i]);
						}
					}
				} else {
					for (let i = 0; i < byDate.length; i++) {
						if (byTitle.includes(byDate[i])) {
							out.push(byDate[i]);
						}
					}
				}

				return out;
			},
			deep: true,
		},
	},
	computed: {
		// In Vue, you can make your variable (or data) have a getter and setter method.
		// On React, this is like the equivalent of useState(). But it's more opinionated.
		movies: {
			get(): Movie[] {
				return this.$store.getters.getProxy as Movie[];
			},
			set(value): void {
				this.$store.commit('setProxy', value);
			},
		},
	},
	async created() {
		try {
			if (!this.$store.getters.checkMovies) {
				await this.$store.dispatch('fetchMovies');
			}
		} catch (error) {
			console.error(error);
		}
	},
	components: {MovieItem},
});
</script>

<style scoped lang="sass">
.search_bar
  @apply my-2 px-4 py-3 rounded-lg w-full bg-light-600 text-black focus:bg-light-700
  @apply dark:(bg-dark-400 focus:bg-dark-100 text-white)
  @apply transition duration-300 ease-in-out

.flex-4
  flex: 5 5 0%

.date_input
  @apply mx-2 px-4 py-3 rounded-lg w-full bg-light-600 text-black focus:bg-light-700
  @apply dark:(bg-dark-400 focus:bg-dark-100 text-white)
  @apply transition duration-300 ease-in-out
</style>
