<template>
  <div class="font-hind h-full w-full min-h-screen dark:(bg-dark-900 text-white) bg-light-100 text-black">
    <Navbar />
    <router-view />
  </div>
</template>

<script lang="ts">
import {defineComponent} from '@vue/runtime-core';
import Navbar from './components/Navbar.vue';

export default defineComponent({
	components: {Navbar},
});
</script>

<style>
</style>
